<div class="transparentbox">
    <h2 class = "text-center">Swole Time</h2>
    <h3 class = "text-center">Your Future Self Will Thank You</h3>
    <a href="/schedule" class="btn btn-primary btn-info">Let's get Swole</a> 
</div>